// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import '../../node_modules/@fullcalendar/core/main.css';
@import '../../node_modules/@fullcalendar/daygrid/main.css';
@import '../../node_modules/@fullcalendar/timegrid/main.css';

.calendar {
  margin: 0 auto;
  min-height: 60%;
}

.fc-bg {
  background-color: lavender;
}

.fc-head-container .fc-row {
  height: 1.5em;
  min-height: 1.5em !important;
  max-height: 1.5em;
}

.fc-row, .fc-day {
  height: 3em;
  min-height: 3em !important;
  max-height: 3em;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.1em;
}

.fc-bg table {
  border-collapse: separate;
  border-spacing: 1px;
}

.fc-bg table tbody tr td {
  border: 0;
}

.fc-head, .fc-head-container .fc-row {
  height: 1.5em;
  max-height: 1.5em;
}


.fc-head tr table thead tr th{
  border: 0
}

.event-today {
  position: relative;
  /* for resize handle and other inner positioning */
  display: block;
  /* make the <a> tag block */
  font-size: 0.85em;
  line-height: 1.4;
  border-radius: 3px;
  //border: 1px solid #3788d8;
  text-align: center;
}