.page, .tab-content, .tab-pane.active {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.fc {
  height: 55%;
  max-height: 55%;
}

.fc-body {
  height: 30em;
  max-height: 30em;
}

.fc-view-container {
  height: 85%;
  box-sizing: border-box;
}

.fc-widget-content, .fc-scroller {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100% !important;
}

.scroll {
  overflow-y: auto !important;
}

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
}

.lowpadding {
   padding-left: 0.3em !important;
   padding-right: 0.3em !important;
}

.simple-border {
  border-radius: 0 !important;
}

.no-side-border {
  border-left: 0 !important;
  border-right: 0 !important;
}