.app-text{
  color: #2F6A8F
}

.app-background{
  background-color: #FFFFFF;
}

.app-main{
  background-color: #99E6FC;
}

.fc-ltr{
  color: #2F6A8F;
  background-color: #99E6FC;
}

.nav-item.active{
  background-color: #244357;
  color: #FFFFFF;
}

.list-group-item-danger{
  background-color: #244357;
  color: #FFFFFF;
}

.list-group-item-warning{
  background-color: #2F6A8F;
  color: #FFFFFF;
}

.list-group-item-success{
  background-color: #0F6EAB;
  color: #FFFFFF;
}


.fc-past {
  background-color: #FFFFFF;
  color: #2F6A8F;
}

.fc-today {
  background-color: #0F6EAB !important;
  color: #FFFFFF;
}

.fc-future {
  background-color: #244357;
  color: #FFFFFF;
}

.event-today {
  color: #99E6FC !important;
}

.fc-today-button, .fc-icon, .fc-button{
  background-color: #FFFFFF !important;
  color: #2F6A8F !important;
}